@model Library.ViewModels.ArticleViewModels.ArticleUpdateViewModel
@{
    ViewBag.Title = "Add new article";
}




<div class="col-md-offset-3 col-md-6 bg-info">
    @using (Html.BeginForm("Create", "Article", FormMethod.Post, new { @class = "col-xs-12 col-md-12 text-left" }))
    {
        @Html.Partial("CreatePartialView")
    }
</div>
<div class="col-md-offset-8 col-md-1">
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default glyphicon glyphicon-hand-left" })
</div>




<script>
    $(document).ready(function () {
        var required = $("#Authors").data("kendoMultiSelect");

        $("#get").click(function () {
            alert("Attendees:\n\nRequired: " + required.value());
        });
    });
</script>